strong {
	text-decoration: underline;
}

header {
	border: 1px solid red;
	padding: 20px;
}

main {
	display: flex;
	width: 100%;
}

#episodeList {
	border: 1px solid blue;
	padding: 20px;
	width: 20%;
	box-sizing: border-box;
}

article {
	border: 1px solid green;
	padding: 20px;
	width: 80%;
	box-sizing: border-box;
}

form {
	display: flex;
	flex-direction: column;
}

.comment {
	margin: 20px;
	padding: 20px;
	border: 1px dotted orange;
}

.comment h6 {
	background-color: blue;
	color: white;
	padding: 5px;
}

footer {
	border: 1px solid yellow;
	padding: 20px;
}