body {
	padding: 0;
	margin: 0;
	width: 100%;
	margin: auto;
	background: white url(/images/background.png) no-repeat left top fixed;
	background-size: cover;
}

.button {
	background-color: black;
	color: white;
	margin: 15px;
	padding: 15px;
	border-radius: 15px;
	text-decoration: none;
}

.button:hover {
	color: #5aa7e5;
	cursor: pointer;
}

/* begin HEADER */
header {
	background-color: white;
	width: 100%;
	height: auto;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4); 
}

header h1, h2, h3 {
	font-family: 'Calligraffitti', cursive;
}

header h1 {
	font-size: 2.2em;
	color: black;
}

header h2 {
	font-size: 0.9em;
	color: #3b8cce;
}

#mainMenu ul {
	display: flex;
	justify-content: space-around;
}

#mainMenu li {
	display: inline-block;
	padding: 0 20px;
}

#mainMenu a {
	font-size: 1.3em;
	color: #cccccc;
	text-decoration: none;
	text-transform: uppercase;
}

#mainMenu a:hover {
	color: black;
}
/* end HEADER */

/* begin MAIN */
main {
	min-height: 300px;
	width: 80%;
	padding: 20px;
	margin: 40px auto;
	padding: 20px;
	background-color: white;
	box-sizing: border-box;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4); 
}

#episodeSection {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#episodeList {
	width: 20%;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4); 
	box-sizing: border-box;
}

#episodeList ul {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

#episodeList li {
	display: inline-block;
}

article {
	width: 75%;
	background-color: white;
	padding: 20px;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4); 
	box-sizing: border-box;
}

#episodeControls {
	margin-top: 30px;
}

#episodeControls ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0;
}

#episodeControls li {
	display: inline-block;
}

#commentForm {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
}

input, textarea {
	margin-bottom: 20px;
}

.comment {
	padding: 10px;
	margin: 10px;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4); 
}
/* end MAIN */

/* begin FOOTER */
footer {
	text-align: center;
	padding: 10px;
	background-color: white;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4); 
}

footer p {
	margin: 0;
	padding: 0;
}
/* end FOOTER */
